<!doctype html>
<html lang="en" ng-app="Todo">
  <head>
    <meta charset="utf-8">
    <title>Todo List of Joy</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todoController.js"></script>
  </head>

  <body ng-controller="TodoController as todoCtrl">
    <div class="col-md-6 col-md-offset-3">
      <h1>To Do List of Joy</h1>
      <form class="form-horizontal task-form" name='addForm' novalidate>
        <input type="text" class="col-md-6" name="taskDescription" ng-model="todoCtrl.taskDescription" ng-minlength="2" required>
        <button class="btn add-task-btn" ng-click="todoCtrl.addTask()">Add task</button>
        <span style="color:red" ng-show="addForm.taskDescription.$dirty && addForm.taskDescription.$invalid" class="error-msg">
          <p class="required-error" ng-show="addForm.taskDescription.$error.required">Description is required.</p>
          <p class="length-error" ng-show="addForm.taskDescription.$error.minlength">Description must be 2 or more characters long.</p>
        </span>
      </form>
      <p class="total-tasks">Total tasks: {{ todoCtrl.taskList.items.length }}</p>
      <button ng-click="filters.completed = false" class="active-btn">Show active</button>
      <button ng-click="filters.completed = true" class="completed-btn">Show completed</button>
      <button ng-click="filters.completed = ''">Show all</button>
       <button ng-click="todoCtrl.deleteCompleted()" class="delete-completed-btn">Delete completed</button>
      <table class="list-group col-md-12" ng-repeat="task in todoCtrl.taskList.items | filter:filters">
        <tr class="list-group-item">
          <td class="col-md-1">
            <input type="checkbox" ng-click="task.completed=!task.completed" ng-checked="task.completed" class="completed-tick">
          </td>
          <td class="col-md-7">
            <span class="col-md-12" ng-hide="editorEnabled">{{ task.description }}</span>
            <input class="col-md-12 edit-box" ng-show="editorEnabled" ng-model="task.description">
          </td>
          <td class="col-md-4">
            <button type="button" id="editing" ng-disabled="editorEnabled" ng-click="editorEnabled=!editorEnabled" class="btn btn-primary edit-task-btn">
              <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
            <button type="button" id="editing" ng-show="editorEnabled" ng-click="editorEnabled=!editorEnabled" class="btn btn-success done-editing-btn">Done</button>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>